#controls-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#controls {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  width: 393px;
  height: 83%;
  border-radius: 73px;
  background-color: rgba(227, 230, 236, 1);
  padding: 17px;
}

#screen {
  width: 353px;
  height: 453px;
  background: rgba(183, 192, 163, 1);
  border-radius: 53px;
  margin-bottom: 50px;
  padding: 17px;
  position: relative;
  /* box-shadow: 8.72px 6.97px 9.88px 0px rgba(118, 126, 100, 1) inset; */
  /* Rectangle 5 */

  box-shadow: inset 8.71671px 6.97337px 9.87893px #767e64, inset 8.71671px 8.13559px 11.0412px rgba(118, 126, 100, 0.4),
    inset 8.71671px 10.1695px 13.0751px rgba(118, 126, 100, 0.48),
    inset 8.71671px 15.6901px 17.724px rgba(118, 126, 100, 0.67), inset -5.81114px -18.3051px 18.8862px #e3efc7,
    inset -5.81114px -10.7024px 12.3986px rgba(9, 9, 9, 0.539141),
    inset -5.81114px -9.11296px 10.177px rgba(209, 221, 182, 0.44708),
    inset -5.81114px -8.25718px 8.76514px rgba(209, 221, 182, 0.375);
}

label[for="tempo-slider"] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 71.67px;
  font-weight: 400;
  line-height: 100.79px;
  text-align: left;
}

#tempo-value {
  font-size: 158px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

#tempo-slider {
  width: 353px;
  height: 1.75px;
  border-radius: 88.5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  -webkit-appearance: none;
  background-color: #000;
  border-radius: 1px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

#toggle-button {
  width: 104.62px;
  height: 104.62px;
  top: 637px;
  left: 143.69px;
  gap: 0px;
  border-radius: 700px;
  cursor: pointer;
  margin-top: 100px;
  border: 0;
  font-size: 24px;
  background: linear-gradient(153.05deg, #f4b713 7.02%, #e4a600 90.45%);
  box-shadow: 5.01674px 5.92182px 16.9718px rgba(209, 217, 230, 0.67),
    -1.01714px 6.07944px 8.61254px rgba(209, 217, 230, 0.34), 7.5993px 7.09268px 9.62578px rgba(209, 217, 230, 0.4),
    7.5993px 8.86585px 11.399px rgba(209, 217, 230, 0.48), -5.0662px -15.9585px 16.4652px rgba(255, 255, 255, 0.75),
    -5.0662px -9.33046px 10.8092px rgba(255, 255, 255, 0.539141),
    -5.0662px -7.94476px 8.87243px rgba(255, 255, 255, 0.44708),
    -5.0662px -7.19869px 7.64152px rgba(255, 255, 255, 0.375);
  border-radius: 700px;
}

@media only screen and (max-width: 400px) {
  #controls {
    width: 330px;
    height: 530px;
  }

  #screen {
    width: 310px;
  }
}
